.title-align{
    padding: 50px;
}
.title-align h5{
    text-align: center;
}
.section-padding{
    padding: 25px;
}
.extracto-profesional{
    padding: 25px;
}
.google-maps{
    height: 100%;
    width: 100%;
    padding: 5px;
}