<div class="container">
    <div class="row">
        <img [src]="'assets/img/banner.jpg'" class="img-fluid">
    </div>
</div>
<section class="section-padding" id="experiencia">
    <div class="container">
        <h5>Experiencia laboral</h5>
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Obras municipales</h5>
                        <p class="card-text">
                        </p><ul>
                            <li>Construcción de 2 aulas escolares en
                                Chichihualco.</li>
                            <li>Pavimentación de 15 calles en distintas colonias
                                de Chichihualco</li>
                            <li>Construcción de 12 departamentos.</li>
                            <li>Construcción de 2 casas.</li>
                            <li>Construcción de 2 auditorios municipales.</li>
                            <li>Construcción de 1 puente</li>
                            <li>Supervisión de obras en diferentes municipios</li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Articulos ofrecidos</h5>
                        <p class="card-text">
                        </p><li>Venta de artículos de limpieza por mayoreo</li>
                        <li>Venta de material de construcción por mayoreo</li>
                        <li>Venta de artículos de papelería por mayoreo</li>
                        <li>Venta de material de ferretería</li>
                        <li>Venta de consumibles</li>
                        <li>Venta de artículos de cómputo</li>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding" id="nosotros">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Extracto profesional</h5>
                    <p class="card-text">La CONSTRUCTORA LEOMARY S.A. DE C.V. es
                        una empresa dedicada a la construcción de todo tipo de
                        obras, la cual se caracteriza por ser una empresa de
                        calidad y con responsabilidad en cada uno de los
                        proyectos y obras realizadas, contando con un amplio
                        equipo de trabajo los cuales están en constante
                        actualización a las nuevas reformas.
                        Así también LEOMARY ofrece una amplia gama de productos
                        a disposición del mercado laboral para su
                        venta al mayoreo.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Misión</h5>
                        <p class="card-text">Somos una empresa constructora que
                            brinda servicios de ingeniería, construcción,
                            mantenimiento y conseciones; contribuyendo así al
                            exito de nuestros clientes y el desarrollo del país.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Visión</h5>
                        <p class="card-text">Afianzarnos como una empresa lider
                            en el mercado nacional con proyeccion internacional
                            en servicios de ingeniería, construcción,
                            mantenimiento y conseciones; sutentada en el trabajo
                            responsable, dedicado e innovador de sus directivas
                            y colaboradores.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Arrendamiento</h5>
                        <ul>
                            <li>Maquinaria y equipo</li>
                            <li>Salones de fiestas</li>
                            <li>Equipo de computo</li>
                            <li>Casa habitación</li>
                            <li>Oficinas</li>
                            <li>Automóviles</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding" id="contacto">
    <div class="container">
        <h5>Contactos de multiples formas</h5>
        <h6>Ubicación</h6>
        <div class="row">
            <div class="col-lg-9">
                <ul>
                    <li>Calle: 28 de febrero, lote: 15, col: Lucia Alcocer</li>
                    <li>Teléfono/celular: 74-72-56-25-81</li>
                    <li>E-mail: leomarysadecv@gmail.com</li>
                </ul>
            </div>
            <div class="col-lg-12 google-maps">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3803.655449736893!2d-99.51817368564436!3d17.571583502092796!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cbece5b9d42585%3A0x2f931d355de41513!2s28+de+Febrero%2C+Chilpancingo+de+los+Bravo%2C+Gro.!5e0!3m2!1ses!2smx!4v1559539073864!5m2!1ses!2smx"
                    width="600" height="450" frameborder="0" style="border:0"
                    allowfullscreen=""></iframe>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 left">
                <div class="form-group">
                    <label>Correo</label>
                    <input type="email" name="correo" class="form-control"
                        id="correo" aria-describedby="emailHelp"
                        placeholder="Ingrese su correo">
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="nombre" class="form-control"
                        id="nombre" placeholder="Ingrese su nombre"
                        data-rule="minlen:4" data-msg="Por favor ingrese más de
                        4 caracteres">
                </div>
                <div class="form-group">
                    <label>Asunto</label>
                    <input type="text" name="asunto" class="form-control"
                        id="asunto" placeholder="Ingrese el asunto"
                        data-rule="minlen:4" data-msg="Por favor ingrese más de
                        4 caracteres">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 right">
                <div class="form-group">
                    <label>Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje"
                        rows="6"></textarea>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="submit" id="enviar" name="enviar" class="btn
                    btn-primary">Enviar correo</button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 center" id="resultEnviar"></div>
        </div>
    </div>
</section>
