<div class="mt-5">
    <div class="d-flex">
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light">Leomary</h4>
            </div>
            <div class="menu">
                <a href="users" class="d-block p-3 text-light"><i class="fa fa-user"></i> Usuarios</a>
                <a href="projects" class="d-block p-3 text-light"><i class="fa fa-building"></i> Proyectos</a>
                <a href="add" class="d-block p-3 text-light"><i class="fa fa-plus-square"></i> Añadir Proyecto</a>
                <a href="products" class="d-block p-3 text-light"><i class="fa fa-shopping-cart"></i> Administrar Productos</a>
            </div>
        </div>
        <div id="content">
            <section>
                <div class="conatainer">
                    <div class="row"></div>
                </div>
            </section>
        </div>
    </div>
</div>