<div class="container mt-5">
    <div class="d-flex">
        <div class="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4>Leomary</h4>
            </div>
            <div class="menu">
                <a href=""><i class="fa fa-user"></i> Usuarios</a>
                <a href=""><i class="fa fa-building"></i> Proyectos</a>
                <a href=""><i class="fa fa-plus-square"></i> Añadir Proyecto</a>
                <a href=""><i class="fa fa-shopping-cart"></i> Administrar Productos</a>
            </div>
        </div>
    </div>
</div>