<div class="container">
    <div class="row">
        <img [src]="'assets/img/banner.jpg'" class="img-fluid">
    </div>
    <!--<div class="row" *ngFor="let foto of fotos">
        <h1>{{foto.nombre_foto}}</h1>
        <h2>{{foto.proyecto_foto}}</h2>
    </div>-->
    <div class="row" *ngFor="let proyecto of proyectos">
        <div class="container container-fluid">
            <hr class='featurette-divider'>
            <div class="row featurette">
                <div class="col">
                    <h2 class="featurette-heading"></h2>
                    <p class="lead">Ubicacion: {{proyecto.ubicacion_proyecto}}</p>
                    <p class="lead">Fecha de inicio:
                        {{proyecto.inicio_proyecto}}</p>
                    <p class="lead">Fecha de fin: {{proyecto.fin_proyecto}}</p>
                    <p class="lead">Rol de la empresa: {{proyecto.rol_proyecto}}</p>
                    <p class="lead">Cliente del proyecto:
                        {{proyecto.nombre_cliente}}</p>
                </div>
                <div class="col">
                    <mdb-carousel [animation]="'slide'">
                        <mdb-carousel-item *ngFor="let foto of fotos">
                            <img *ngIf="(foto.proyecto_foto == proyecto.id_proyecto)" src="http://localhost/upload/{{foto.nombre_foto}}" alt="{{foto.id_foto}}">
                        </mdb-carousel-item>
                    </mdb-carousel>
                    <!--<div class="carousel-inner">
                        <img class="d-block w-100"
                            src="http://localhost/upload/{{foto.nombre_foto}}"
                            alt="" *ngFor="let foto of fotos" style='width:
                            auto; height: 500;'>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>